<div class="user-item">
  <table>
    <thead>
        <th>Name</th>
        <th>ID</th>
        <th>Email</th>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let myUser of users"  (click)="onUserSelected(myUser)">
        <td>{{myUser.username}}</td>
        <td>{{myUser.id}}</td>
        <td>{{myUser.email}}</td>
       </tr> -->
    </tbody>
  </table>
</div>
<!-- <div >
  
</div> -->
 <div class="user-item">
  <input type="text" #userIdNew placeholder="Enter User ID" ><br>
  <input type="text" #userNameNew placeholder="Enter User Name" ><br>
  <input type="text" #userEmailNew placeholder="Enter email"><br>
    <div>
      Id:{{selectedUser?.id}}
    </div>
    <div>
      Username:{{selectedUser?.username}}
    </div>
    <div>
      Email:{{selectedUser?.email}}
    </div>

  </div> 